@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.Navigation .navbar-brand {
   font-family: 'Open Sans', sans-serif;
}

.Navigation .ml-auto {
    font-family: 'Open Sans', sans-serif;
}

.Navigation .Logo {
    width: 50px;
    margin: 20px;
}