@font-face{
    font-family: "Problack";
    src: local('/font/CodeProBlack.otf') format("truetype")
  }

.Bio {
    text-align: center;
    position: relative;
    margin: 0;
}

.Bio .h1 {
    font-family: "Problack";
}

.Bio .text {
    top: 50%;
    left: 50%;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
}

.Bio > img {
    width: 100%;
    max-height: 900px;
    -webkit-filter: grayscale;
    filter: grayscale(100%);
}