.Bio {
    text-align: center;
    position: relative;
    margin: 0;

}

.Bio h1 {
    font-family: 'ProBlack', sans-serif;
}

.Bio p {
    font-family: 'Josefin Sans';
    font-size: 24px;
    margin-bottom: 0;
}

.Bio .infos {
    margin-bottom: 5%;
}

.Bio .text {
    top: 50%;
    left: 50%;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 24px;
}

.Bio > img {
    width: 100%;
    max-height: 900px;
    -webkit-filter: grayscale;
    filter: grayscale(100%);
}

.Bio .focus {
    margin-top: 10%;
    margin-bottom: 5%;
}

.Bio{
    padding: 5%;
}