.Carte .logo {
    width: 200px;
    border-radius: 50%;
    border: solid 1px black;
    margin-top: 8%;
}

.Carte .title {
    text-align: center;

}

.Carte .description {
    text-align: center;
}

.Carte {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 500px;
    max-width: 350px;

}

.Carte .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}