.FormSlide .slide { 
    margin:20px;
    margin-top: 0;
  }
  
.FormSlide .slide1 {
    margin:20px;
    border-radius:50% !important;
    background-color:#228B22;
    color:white;
  }
  
.FormSlide .slide2 {
    margin:20px;
    border-radius:50% !important;
    color:white;
    background-color:#777;
  }
  
.FormSlide .pagination {
    justify-content: center;
    margin:30px;
    margin-top: 0;
  }

  .FormSlide .link {
    text-decoration: none;
  }