.FormSlide .slide { 
    margin:20px;
  }
  
.FormSlide .slide1 {
    margin:20px;
    border-radius:50% !important;
    background-color:#43AF3E;
    color:white;
  }
  
.FormSlide .slide2 {
    margin:20px;
    border-radius:50% !important;
    color:white;
    background-color:#777;
  }
  
.FormSlide .pagination {
    justify-content: center;
    margin:30px;
  }