.Prestaform {
  background-color: white;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}

.Prestaform h4 {
  font-family: "Open Sans", sans-serif;
}

.Prestaform .Send {
  margin-bottom: 2%;
  background-color: #DC143C;
  border: none;
  border-radius: 5%;
  width: 155px;
  color: white;
}
