.Prestaform2 {
    background-color: #F5F5F5;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.Prestaform2 .Send {
    margin-bottom: 2%;
    background-color: #f0673d;
    border: none;
    width: 155px;
}