.Banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
  border: solid 1px black;
} 

.Banner  li{
  font-size:27px;
  list-style:none;
}

.Banner ul{
margin: 0;
display: flex;
flex-direction: column;
justify-content: space-around;
padding: 0;
}

.Banner .image img{
width: 200px;
} 

@media(min-width:768px){
  .Banner{
    flex-direction: row;
    
  }

  .Banner ul {
    padding-top: 0;
  }
  
} 
