.Banner {
  border-radius: 10px;
  border:1px solid black;
  padding:5vw;
  border-width:3px;
  display: flex;;
  justify-content: space-between;
  flex-direction: column;
} 

.Banner  li{
  font-size:27px;
  list-style:none;

}

.Banner ul{
margin: 0;
padding-top: 5vw;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.Banner .image img{
width: 100%
} 

@media(min-width:768px){
  .Banner{
    flex-direction: row;
    
  }

  .Banner ul {
    padding-top: 0;
  }
  
} 
