.ContactArtist {
    margin-top: 5%;
    margin-bottom: 5%;
}

.ContactArtist .show{
    height : 85vw;
}
.ContactArtist .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.ContactArtist .button-contact {
    border-radius: 5px;
    background-color: white;
    color: black;
    border: solid 1px black;
    font-size: 15px;
    height: auto;
    margin-top: 30px;
}

.ContactArtist .button-contact:hover {
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.ContactArtist .card-body{
    width: 100%;
    border-radius: 10px;
    padding:5vw;
    display: flex;
    background-color: white;
    height: 50vw;
    
}

.ContactArtist .text {
    flex-grow: 1;
}

.ContactArtist .form-control {
    height: 30vw;
}

.ContactArtist .contactez h3{
    text-align: center;
    margin: 3vw;
}

.ContactArtist .button-send {
    font-size: 18px;
    margin: 5vw 0;
    width: 200px;
    border-radius: 5px;
    background-color: white;
    color: black;
    border: solid 1px black;
    font-size: 15px;
    height: auto;
    margin-top: 30px;
}

.ContactArtist .button-send:hover {
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.ContactArtist .form-group {
    margin:0;
}


@media(min-width:768px){
    .ContactArtist .show{
        height : 50vw;
        display: flex;
        justify-content: center;
    }
    .ContactArtist .button-contact {
        font-size: 20px;
        margin-bottom: 3vw;
        
    }
    .ContactArtist .button-send {
        font-size: 20px;
        margin: 3vw 0;
    }
    .ContactArtist .card-body{
        padding: 1.5vw 3vw;
        height: 30vw;
        font-size: 26px;
        width: 80vw;
        flex-grow: 0;
        
    }
    .ContactArtist .form-control {
        height: 20vw;
    }
    .ContactArtist .contactez h3{
        font-size: 30px;
        margin: 2vw;
    }
    
  }
  @media(min-width:992px){
    .ContactArtist .show{
        height : 42vw;
    }
    .ContactArtist .card-body{
        padding: 1.5vw 3vw;
        height: 25vw;
        font-size: 26px;
        flex-grow: 0;
        width: 70vw;
        
    }
    .ContactArtist .form-control {
        height: 15vw;
    }
  }
  @media(min-width:1200px){
    .ContactArtist .card-body{
        width: 60vw;
    }
  }