.Medias {
  display: flex;
  justify-content : space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction : row;
}
@media(min-width:768px){
  .Medias{
    flex-direction: row;
    
  }
  
}