.PlanningPrice {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.PlanningPrice .planning {
  height: 300px;
  width: 75%;
}



.PlanningPrice .planning .rbc-btn-group {
  display: none;
}

.PlanningPrice .planning .rbc-toolbar {
  justify-content: space-evenly;
  flex-direction: column;
}
.PlanningPrice .planning .rbc-toolbar .rbc-btn-group button {
  padding: 1vw 3vw;
}
.PlanningPrice .planning .rbc-toolbar .rbc-toolbar-label {
  flex-grow: 1;
  padding: 1vw;
}

.PlanningPrice .planning .rbc-calendar,
.rbc-toolbar {
  width: 100%;
}

.PlanningPrice .planning .rbc-today {
  background-color: rgba(122, 243, 122, 0.363);
}

.PlanningPrice .planning .rbc-now > a {
  color: rgb(187, 78, 15);
}

.PlanningPrice .planning .rbc-btn-group,
.PlanningPrice .planning .rbc-time-view,
.PlanningPrice .planning .rbc-month-view,
.PlanningPrice .planning .rbc-agenda-view {
  background-color: white;
}

.PlanningPrice .planning .rbc-event {
  background-color: black;
}

.PlanningPrice .price > p {
  font-size: 26px;
}

@media screen and (min-width: 700px) {
   .PlanningPrice {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .price {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

.price h2,
.price p {
  position: relative;
  float: left;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}
}

@media screen and (max-width: 700px) {

  .PlanningPrice .price {
    display: none;
  }

}

