.Demande {
  width: 80vw;
  border-bottom:2px solid rgb(90, 90, 90);
  padding: 10px 40px;

}

.Demande img {
  width: 200px;
  height: 200px;
}

.Demande .banner, .Demande .descr-play{
  display: flex;
  justify-content: flex-start;
  margin: 10px;
}
.Demande .banner {
  box-shadow:5px 6px 8px grey;
  margin-bottom: 20px;
}
.Demande .buttons {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.Demande .accepter {
  background-color: green;
  color : white;
}

.Demande .refuser {
  background-color: red;
  color : white;
}
.Demande .name {
  color: #DC143C;
  font-size: 20px;
}

.Demande ul {
  list-style-type: none; 
  font-size: 32px;
  margin: 0;

  
}