.Navigate .link {
    padding: 5px;
    font-size: 28px;
}
.Navigate a {
    color: inherit;
    font-family: 'Josefin sans', sans-serif;
}
.Navigate a:hover {
    text-decoration: inherit;
}
.Navigate .true {
    color:#DC143C;
}
.Navigate {
    margin-top: 50px;
    padding: 30px;
}