.FormContact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border: 3px solid #e5e8e8;
  width: 80%;
  padding: 2%;
  margin-top: 5%;
  font-family: "Josefin Sans";
  font-size: 24px;
}

.FormContact .forminput {
  margin: 2%;
  width: 75%;
}

.FormContact .btn {
  background-color: #f0673d;
  border: none;
  width: 100px;
}

.FormContact .btn:hover {
  transition: 500ms;
  background-color: grey;
}
